<%# Checking for those errors from server post route, looping through the array and displaying a bs alert %>

<% if (typeof errors != 'undefined') { %>
  <% errors.forEach(function(error) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <i class="fa fa-exclamation-circle"></i> <%= error.msg %>
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }); %>
<% } %>





<%# Now the way that the success_msg and error_msg is going to work (these global variable we created) is that if it\'s not there it's just going to be an empty string so that\'s what we\'re going to check for: %>

<% if (success_msg != '') { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <i class="fa fa-check-circle"></i> <%= success_msg %>
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>


<% if (error_msg != '') { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <i class="fa fa-exclamation-circle"></i> <%= error_msg %>
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>


<% if (error != '') { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <i class="fa fa-exclamation-circle"></i> <%= error %>
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
